#No LaTeX logs or anything like that
*.aux
*.log
*.dvi

#Don't push random .gz or .zip files - shouldn't have packages in our code repo
*.zip
*.gz

#No compile/build files
*/bin/
*.jar
*.class
*.axf
*.build_log.htm
*.hex
*.htm
*.map
*.dep
*.crf
*.o
*.lst

nohup.out
*.un~
.gitignore~

#No uVision projects and stuff
*.scvd
*.uvguix.jtang
*.uvoptx
*/Listings/
*/RTE/
*/Objects/

