#No LaTeX logs or anything like that
*.aux
*.log
*.dvi

#Don't push random .gz or .zip files - shouldn't have packages in our code repo
*.zip
*.gz

#No compiled files
*/bin/
*.jar
*.class

nohup.out

#No uVision projects and stuff
*.scvd
*.uvguix.jtang
*.uvoptx
*/Listings/
*/RTE/
*/Objects/
